<footer>

    <div class="logo-grande">
        <img src="/images/logollama.png">
    </div>
    <div class="tarjetas-text">
        Distintas formas de pago
    </div>
    
    <div class="tarjetas">
        <div class="visa-card">
            <i class="fa-brands fa-cc-visa"></i>
            Visa
        </div>
        <div class="mastercard-card">
            <i class="fa-brands fa-cc-mastercard"></i>
            Mastercard
        </div>
        <div class="paypal-card">
            <i class="fa-brands fa-cc-paypal"></i>
            PayPal
        </div>
        <div class="amazon-pay-card">
            <i class="fa-brands fa-cc-amazon-pay"></i>
            Amazon Pay
        </div>
    </div>
    


    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
</footer>