<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>LlamaQueLlama - Administrador de Productos</title>
    <link rel="stylesheet" href="/css/altaProducto.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    
</head>
<header>
    <div class="header-bar">

        <input type="checkbox" id="burger-checkbox">
        <label for="burger-checkbox">
            <span></span>   
            <span></span>

        </label>
        <div class="menu-wrapper">
            <nav>
                <div class="profile">
                    <a href="#">
                        <img src="/images/Blank-profile.png"
                    </a>
                    <p>Profile Name</p>
                </div>
            <ul>
                <li><a href="#">Mis Datos</a></li>
                <li><a href="#">Mis Compras</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
            </nav>
        </div>


        <div class="bar-img">
            <a href="./">  <img src="/images/nav-icon.png" ></a></img>
            
        </div>


        <div class="bar-bag-icon">
            <span class="material-icons-outlined">
                shopping_bag
                </span>
        </div>

    </div>
    
    

</header>


  <body>
      

    <main>

       
        
            <form action="./" method="get">

                <section class="header-formulario">
          <div class="titulo">Administrador de Productos</div>

          <div class="iconoRegistro"><i class="fa-solid fa-mobile"></i></i> </div>
             </section>

          <section class="formulario">
        
               
            <div>  <label for="Accion"></label> 
            
                <select marca="Accion"  
                class="burbuja" 
                id="Accion"><option disabled selected>Seleccione una acción</option>
                <option value="Alta de Producto">Alta de Producto</option>
                   <option value="Modificacion de Producto">Modificación de Producto</option>
                   
</select>
               
</div>
                <div>  <label for="Marca"></label> 
            
                    <select marca="Marca" 
                    class="burbuja" placeholder="Marca"
                    id="Marca"><option disabled selected>Marca</option>
                    <option value="Apple">Apple</option>
                       <option value="Huawei">Huawei</option>
                       <option value="LG">LG</option>
                       <option value="Motorola">Motorola</option>
                       <option value="Xiaomi">Xiaomi</option>
                       <option value="Samsung">Samsung</option>
    </select>
                   
 </div>

    <div> <label for="Modelo"></label> 
            
        <input type="text" name="Modelo" placeholder="Modelo" class="burbuja" required >
        
        </div>

        <div> <label for="Procesador"></label> 
            
            <input type="text" name="Procesador" placeholder="Procesador" class="burbuja" required >
            
            </div>
<div class="contenedor1">
<section class="contenedor2">   
               <div    class="contenedor-color">       
                   
                                <select name="Color" 
                                class="burbuja" required
                                id="">Memoria<option disabled selected>Memoria</option>
                                <option value="8GB">8GB</option>
                                   <option value="16GB">16GB</option>
                                   <option value="32GB">32GB</option>
                                   <option value="64GB">64GB</option>
                </select>
            </div> 
        <div class="contenedor-bateria"> 
                <select name="Batería" 
                class="burbuja" required
                id="">Almacenamiento<option disabled selected>Almacenamiento</option>
                <option value="64GB">64GB</option>
                   <option value="128GB">128GB</option>
                   <option value="256GB">256GB</option>
                   <option value="512GB">512GB</option>
</select>   
</div> 


</section>
</div>


</div>


<div class="contenedor1">
<section class="contenedor2">
               <div class="contenedor-color">       
                   
                                <select name="Color" 
                                class="burbuja"
                                id="">Color <option disabled selected>Color</option>
                                <option value="Blanco">Blanco</option>
                                   <option value="Negro">Negro</option>
                                   <option value="Rojo">Rojo</option>
                                   <option value="Azul">Azul</option>
                                   <option value="Rosa">Rosa</option>
                </select>
            </div> 
        <div class="contenedor-bateria"> 
                <select name="Batería" 
                class="burbuja"
                id="">Bateria<option disabled selected>Batería</option>
                <option value="3.000 mAh">3.000 mAh</option>
                   <option value="3.000 mAh">3.500 mAh</option>
                   <option value="3.000 mAh">4.000 mAh</option>
                   <option value="3.000 mAh">4.500 mAh</option>
                   <option value="3.000 mAh">5.000 mAh</option>
                   <option value="3.000 mAh">5.500 mAh</option>
                   <option value="3.000 mAh">6.000 mAh</option>
</select>   
</div> 
</section>

    </div>

    
    <div class="contenedor4"> 
        <h2> Imágenes del Producto</h2>
        <div class="contenedor3">
            
        <p class="botonImagen">Seleccionar Archivo</p>
         <input type="file" name="" id="ImagenesProducto"  class="inputFile" required =  >   
        </div>
        </div>
    <div class="ContenedorDescripcion"> <label for="Descripcion"></label> 
            
        <textarea name="" id="" cols="30" rows="20" class="burbuja2" required placeholder="Ingrese descripción del producto"></textarea>
        </div>
    


 
   

                        </section>
                        <section class="seccion-boton">
                            <div >
                                <button type="submit"   class="boton">Guardar</button>
                        
                            </div>  
                            <div >
                                <a href="./";> <i class="fas fa-reply"> </i>Volver al Inicio</a> 
                             </div>
                            </section>
                             
                            </form>
                            </section>
                        
        </div>
        </main>

    </body>
   
    </html>
