
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/cart.styles.css">
    <link rel="" href="">
    <script src=""></script>

    <title>Check Out</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

        <div class="topbanner">
        <a href="/ar/">
        <center>  <img src= "img/banner2.png" width= 50% >
        </center>
        </a>
    </div>
    
</head>

<body>
    <marquee>Podría ir texto importante: ¡No te pierdas nuestros descuentos!  </marquee>
   
    <header id="page-header">
			
	</header>

         
        <div class="container"> 
           
                        <div class="item1">Producto </div>            
                        <div class="item2">Cantidad</div>
                        <div class="item3">Total</div>
                        </div>

                    </div>                                               
    <br>
    
                         <br>
                    <br>
                    <br>
            
                <form>
                    <input type="submit" value="Continuar" class="btn">
                    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </form>
            
                
            </aside>
        </div>
    </div>

</body>

<footer>
    <div class="content">
          <div class="media-icons">
            <a href="www.facebook.com"> <img src="img/facebook.png" width="50" height="50"><i class="red social"></i></a>
            <a href="www.twitter.com"><img src="img/twitter.png" width="50" height="50"><i class="red social"></i></a>
            <a href="www.instagram.com"><img src="img/instagram.png" width="50" height="50"><i class="red social"></i></a>
            <a href="www.linkedin.com"><img src="img/linkedin.png" width="50" height="50"><i class="red social"></i></a>
         
          </div>
        </div>
</footer>
</html>


