
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/cart.styles.css">
    <link rel="" href="">
    <script src=""></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">

    <title>Check Out</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    
</head>

<body>
   
    <header>
        <div class="header-bar">

            <input type="checkbox" id="burger-checkbox">
            <label for="burger-checkbox">
                <span></span>
                <span></span>

            </label>
            <div class="menu-wrapper">
                <nav>
                    <div class="profile">
                        <a href="#">
                            <img src="/images/Blank-profile.png"
                        </a>
                        <p>Profile Name</p>
                    </div>
                <ul>
                    <li><a href="#">Mis Datos</a></li>
                    <li><a href="#">Mis Compras</a></li>
                    <li><a href="#">Privacidad</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
                </nav>
            </div>


            <div class="bar-img">
                <a href="./">  <img src="/images/nav-icon.png" ></a></img>
                
            </div>


            <div class="bar-bag-icon">
                <span class="material-icons-outlined">
                    shopping_bag
                    </span>
            </div>

        </div>
        
        

    </header>
   


 <main>

    <article class="main-article">
        <div>
               <img src="/images/Motorola Edge 20 Lite/ME20frente.jpg"  alt="MotoE20">
                 <div class="detalle-main-article">
                     <div>
                    <h3 ><p class="descripciones">Motorola E20 Lite</p></h3> </div>
                <div> <p class="Precio">$90.400</p></div>
                <div><form>
                     <select name="Cantidad" 
                     class="selectorCantidad"
                     id="">Cantidad <option value="1">1 u.</option>
                        <option value="2">2 u.</option>
                        <option value="3">3 u.</option>
                        <option value="4">4 u.</option>
                        <option value="5">5 u.</option>
     </select></div>

     <form>
        <button id="boton-vaciar" class="btn">Eliminar</button>
    </form>
                    
                </form>
                
            </div>    
        </div>
            </article>


            <article class="main-article">
                <div>
                       <img src="/images/Xiaomi Pocophone Poco X3 Pro/XPPX3Profrente.jpg"  alt="Xiaomi">
                         <div class="detalle-main-article">
                             <div>
                            <h3 ><p class="descripciones">Xiami Pocophone X3</p></h3> </div>
                        <div> <p class="Precio">$70.200</p></div>
                        <div><form>
                             <select name="Cantidad" 
                             class="selectorCantidad"
                             id="">Cantidad <option value="1">1 u.</option>
                                <option value="2">2 u.</option>
                                <option value="3">3 u.</option>
                                <option value="4">4 u.</option>
                                <option value="5">5 u.</option>
             </select></div>
        
             <form>
                <button id="boton-vaciar" class="btn">Eliminar</button>
            </form>
                            
                        </form>
                        
                    </div>    
                </div>
                    </article>


                    <article class="main-article">
                        <div>
                               <img src="/images/Samsung Galaxy A12/SA12 frente.jpg"  alt="Galaxy A12">
                                 <div class="detalle-main-article">
                                     <div>
                                    <h3 ><p class="descripciones">Xiami Pocophone X3</p></h3> </div>
                                <div> <p class="Precio">$83.140</p></div>
                                <div><form>
                                     <select name="Cantidad" 
                                     class="selectorCantidad"
                                     id="">Cantidad <option value="1">1 u.</option>
                                        <option value="2">2 u.</option>
                                        <option value="3">3 u.</option>
                                        <option value="4">4 u.</option>
                                        <option value="5">5 u.</option>
                     </select></div>
                
                     <form>
                        <button id="boton-vaciar" class="btn">Eliminar</button>
                    </form>
                                    
                                </form>
                                
                            </div>    
                        </div>
                            </article>

                    
        



       

            <section>
                <form >
            
                    <button type="submit"  id="sub" class="boton">Finalizar Compra</button>
                </form>
            </section>
                
            </aside>
        </div>
    </div>

</main>

<footer>
    <div class="content">
          <div class="media-icons">
            <a href="www.facebook.com"> <img src="/images/facebook.png" width="30" height="30"><i class="red social"></i></a>
            <a href="www.twitter.com"><img src="images/twitter.png" width="30" height="30"><i class="red social"></i></a>
            <a href="www.instagram.com"><img src="images/instagram.png" width="30" height="30"><i class="red social"></i></a>
            <a href="www.linkedin.com"><img src="images/linkedin.png" width="30" height="30"><i class="red social"></i></a>
         
          </div>
        </div>
</footer>


</html>





       <!-- <div class="container"> 
           
                        <div class="item1">Producto </div>            
                        <div class="item2">Cantidad</div>
                        <div class="item3">Total</div>
                        </div>

                    </div>                                               
    <br>
    
                         <br>
                    <br>
                    <br> -->