<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

<body>
    
<!-- Header -->


<%- include("./partials/header") %>

  
    
    <main class="formLogin">


        <form action="/users/login" method="POST">
  
        <section class="header-formulario">
    <div>
        <div class="titulo">Login de Usuario</div> <label for="Nombre Usuari@"></label> </div>
   
        <div class="iconoUsuario"><i class="fas fa-user-circle"></i></div>
    </section>
    
     
            <section class="formularioLogin">
                
    <div>
    <input type="text" name="email" placeholder="Ingrese su e-mail"  class="burbuja"  >
    <% if (locals.errors && locals.errors.email){  %> 
        <h3 class="error"> <%=errors.email.msg %> </h3>
        <% } %> 
    </div>

   
                <div><label for="Contrase単a"></label> 
    
                    <input type="password" name="password" placeholder="Contrase単a" class="burbuja">
                    <% if (locals.errors && locals.errors.password){  %> 
                        <h3 class="error"> <%=errors.password.msg %> </h3>
                        <% } %> 
                    <p class="rememberUser"><input type="checkbox" name="recordarUsuario" id="rememberUser" class="rememberUserTag"> <label for="rememberUser" >Recordar Ususario y Contrase単a</label> </p>
                </div>


            </section>
            <section class="seccion-boton">
                <div  >
                    <button type="submit" class="boton">Ingresar</button>
            
                </div>  
                <div class="forgotPassword">
                    <a href="/users/registro";> 多No estas Registrado? </a> 
                 </div>
                </section>
          
                   
            
       
                </section>
                      
                </form>
                </section>
</div>
</main>

</body>
</html>
