<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>LlamaQueLlama</title>
    <link rel="stylesheet" href="/CSS/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href= "https://fonts.googleapis.com/icon?family=Material+Icons" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>

<body>
    
  
<main class="encabezado">
 
  </main>
  
  
</header>

<body>
    
    <main>

<section class="formularioLogin">

    <form action="" method="get">

    <div>
        <h1>Login de Usuario</h1> <label for="Nombre Usuari@"></label> </div>
   
        <div class="iconoUsuario"><i class="fas fa-user-circle"></i></div>
    
    
        <div>  
        
    
    <input type="email" name="Nombre Usuari@" placeholder="Ingrese su e-mail" class="burbuja" required>
    
    </div>

   
                <div><label for="Contraseña"></label> 
    
                    <input type="password" name="password" placeholder="Contraseña" class="burbuja" required t >
                    
                    </div>
                </section>

                  <section class="seccion-boton">
                <div>
                    <button type="submit"  class="boton">Entrar</button>
            
                    </div>   
                    <div class="registrarse">
                       <a href="#";>  Registrarme 
                        </a> 

                        
                    </div>
                </section>
                      
                </form>
                </section>
</div>
</main>
</body>
</html>