<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" 
    rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="css/samsungstyles.css"/>
</head>
<body>
    <body>
        <header>
            <div class="header-bar">
    
                <input type="checkbox" id="burger-checkbox">
                <label for="burger-checkbox">
                    <span></span>
                    <span></span>
    
                </label>
                <div class="menu-wrapper">
                    <nav>
                        <div class="profile">
                            <a href="#">
                                <img src="/images/Blank-profile.png"
                            </a>
                            <p>Profile Name</p>
                        </div>
                    <ul>
                        <li><a href="#">Mis Datos</a></li>
                        <li><a href="#">Mis Compras</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Salir</a></li>
                    </ul>
                    </nav>
                </div>
    
    
                <div class="bar-img">
                    <img src="/images/nav-icon.png"></img>
                    
                </div>
    
    
                <div class="bar-bag-icon">
                    <span class="material-icons-outlined">
                        shopping_bag
                        </span>
                </div>
    
            </div>
            
            
    
        </header>
    <section class="banner">
        <img src="/images/galaxyA22/banner_2947_16.jpg" alt="banner de ofertas" />
    </section>
    <main>
            <section class="last-visit">
              <h3><center>MODELOS SAMSUNG S22</center></h3>
              <div class="products">
                  <article>
                     <img src="/images/galaxyA22/002_family_galaxys22ultra_burgundy_galaxys22plus_phantomwhite_galaxys22_phantomblack.webp" alt="galaxy22" class ="product_img"/>
                     <div class="main-article">
                        <i class="fas fa-mobile-alt"></i>
                        <p class="modelo"> Galaxy S22 Ultra </p>
                         <p class="Procesador">Procesador</p>
                         <p class="tipo">CPU Speed 2.99GHz, 2.4GHz, 1.7GHz</p>
                         <p class="Procesador">Display</p>
                         <p class="amoled">Dynamic AMOLED 2X</p>
                         <p class="resolucion">3088 x 1440 (Quad HD+)</p>
                         <p class="Procesador">Camara</p>
                         <p class="camara"> Resolution (Multiple):
                            108.0 MP + 10.0 MP + 12.0 MP + 10.0 MP</p>
                        <p class="camara"> Video Recording Resolution
                            UHD 8K (7680 x 4320)@24fps</p>
                        <p class="Procesador">Memoria</p>
                        <p class="memoria">256GB - 12GB RAM</p>
                        <p class="Procesador">Bateria</p>
                        <p class="memoria">20Hs de uso - 5000mAh - no removible</p>
                        <p class="Procesador">Precio</p>
                        <p class="precio">200.000$</p>
                        <input type="submit" value="Comprar">
                    </div>
                    <div class="main-article2">
                        <i class="fas fa-mobile-alt"></i>
                        <p class="modelo"> Galaxy S22  </p>
                         <p class="Procesador">Procesador</p>
                         <p class="tipo">CPU Speed 2.99GHz, 2.4GHz, 1.7GHz</p>
                         <p class="Procesador">Display</p>
                         <p class="amoled">Dynamic AMOLED 2X</p>
                         <p class="resolucion">2340 x 1080 (FHD+)</p>
                         <p class="Procesador">Camara</p>
                         <p class="camara"> Resolution (Multiple):
                            50.0 MP + 10.0 MP + 12.0 MP</p>
                        <p class="camara"> UHD 8K (7680 x 4320)@24fps</p>
                        <p class="Procesador">Memoria</p>
                        <p class="memoria">128GB - 8GB RAM</p>
                        <p class="Procesador">Bateria</p>
                        <p class="memoria">14Hs de uso - 3700mAh - no removible</p>
                        <p class="Procesador">Precio</p>
                        <p class="precio">150.000$</p>
                        <input type="submit" value="Comprar">
                    </div>

                    <div class="main-article3">
                        <i class="fas fa-mobile-alt"></i>
                        <p class="modelo"> Galaxy S22+  </p>
                         <p class="Procesador">Procesador</p>
                         <p class="tipo">CPU Speed 2.99GHz, 2.4GHz, 1.7GHz</p>
                         <p class="Procesador">Display</p>
                         <p class="amoled">Dynamic AMOLED 2X</p>
                         <p class="resolucion">2340 x 1080 (FHD+)</p>
                         <p class="Procesador">Camara</p>
                         <p class="camara"> Resolution (Multiple):
                            50.0 MP + 10.0 MP + 12.0 MP</p>
                        <p class="camara"> UHD 8K (7680 x 4320)@24fps</p>
                        <p class="Procesador">Memoria</p>
                        <p class="memoria">256GB - 8GB RAM</p>
                        <p class="Procesador">Bateria</p>
                        <p class="memoria">18Hs de uso - 4500mAh - no removible</p>
                        <p class="Procesador">Precio</p>
                        <p class="precio">175.000$</p>
                        <input type="submit" value="Comprar">
                    </div>
               
                        
                         
                    </article>
                </div>
                   
            </section>
            <footer >

                <div class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
                
                
                <p> Seguinos:
                    <a href="http://twitter.com" TARGET="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="http://facebook.com" TARGET="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="http://instagram.com" TARGET="_blank"><i class="fab fa-instagram"></i></a>
                </p>


                    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
                
                
              </footer>
</body>
</html>