<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>LlamaQueLlama - Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
    
</head>
<header>
    <div class="header-bar">

        <input type="checkbox" id="burger-checkbox">
        <label for="burger-checkbox">
            <span></span>
            <span></span>

        </label>
        <div class="menu-wrapper">
            <nav>
                <div class="profile">
                    <a href="#">
                        <img src="/images/Blank-profile.png"
                    </a>
                    <p>Profile Name</p>
                </div>
            <ul>
                <li><a href="#">Mis Datos</a></li>
                <li><a href="#">Mis Compras</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
            </nav>
        </div>


        <div class="bar-img">
            <a href="./">  <img src="/images/nav-icon.png" ></a></img>
            
        </div>


        <div class="bar-bag-icon">
            <span class="material-icons-outlined">
                shopping_bag
                </span>
        </div>

    </div>
    
    

</header>


  <body>
      

    <main>

       
        
            <form action="./" method="get">

                <section class="header-formulario">
          <div class="titulo">Registro de Usuario</div>

          <div class="iconoRegistro"> <i class="far fa-address-card"></i> </div>
             </section>

          <section class="formulario">
        
                <div> <label for="Email"></label> 
            
                    <input type="email" name="Email" placeholder="Ingrese su Correo Electrónico" class="burbuja" required>
                    
                    </div>
                
        
                 
                    <div class="fechaNacimiento" >   
                        <h3>Fecha de Nacimiento</h3>
                     <input type="date" name="Fecha de Nacimiento" id="Fecha de Nacimiento" class="burbuja" required>
                        
                        </div>
        
                        
                <div>  <label for="Domicilio"></label> 
            
                    <input type="text" name="Domicilio" placeholder="Domicilio" class="burbuja" required>
                    
                   
                        </div>
                        
                        
                   
        
                        <div><label for="Contraseña"></label> 
            
                            <input type="password" name="password" placeholder="Ingrese su contraseña" class="burbuja" required pattern=".{6,8}"  title = "La contraseña debe tener una extension de entre 6 y 8 caracteres"> 
                            
                            </div>
        
                          
                            <div> <label for="Confirmar contraseña"></label> 
            
                                <input type="password" name="confirm password" placeholder="Confirme su contraseña" class="burbuja" required>
                                
                                </div>
                        <div>

                        </section>
                        <section class="seccion-boton">
                            <div  >
                                <button type="submit"   class="boton">Registrarse</button>
                        
                            </div>  
                            <div >
                                <a href="./";> <i class="fas fa-reply"> </i>Volver al Inicio</a> 
                             </div>
                            </section>
                             
                            </form>
                            </section>
                        
        </div>
        </main>

    </body>
   
    </html>
