*{
margin: 0;
padding: 0;
box-sizing: border-box;

;
}

.topbanner { margin: auto;
  width: 100%;
}
header{
  margin: 5px;
}


section .container {

  margin: 10px;
}

.container {
width: 90%;
height: auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: row;
background-color: #f2f2f2;
padding: 5px 20px 10px 20px;
border: 1px solid lightgrey;
border-radius: 3px;
align-items: baseline;
}

.item1 {
  
    height: 20px;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; 
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    display: flex;
}

.item2 {
    
    height: 20px;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; 
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  
}

.item3 {

    height: 20px;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; 
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    display: flex;
}

.seccion-botones{
  margin-left: 220px;
  margin-top: 160px;
  

 
}


.btn {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px ;
    border: none;
    width: 30vw;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
    font-size: 15px;
    justify-items: right;
    display: flex;
    flex-direction: row;
   
  }
  
  .btn:hover {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
  }

  footer{
    position: fixed;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #e0e0e0;
    display: flex;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
    display: flex;
    
  }

  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
