


main.formLogin .rememberUser {

  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 35px;
  margin-top: 15px;
  font-weight: bold;
}

main.formLogin .rememberUserTag {
margin-right: 5px;
align-items:stretch;
}

main.formLogin section.header-formulario {
  background-color: #dadada;

  width: 100vw;
  padding-top: 10px;
  font-size: 10px;
  margin: auto;
}

main.formLogin .formLogin main {
  text-align: center;
  padding-top: 50px;
}

main.formLogin .formLogin .titulo {
  font-size: 25px;
}

main.formLogin section.formularioLogin {
  background-color: #dadada;
  border: #666666;

  width: 100vw;
  font-size: 10px;
  margin: auto;
}

main.formLogin .formularioLogin div {
  margin: 35px;
  text-align: center;
  align-items: center;
}

main.formLogin .fotoperfil {
  font-size: 70%;
}

main.formLogin .burbuja {
  width: 75vw;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  border: solid 0.5px white;
  background-color: white;
  max-width: 800px;
}

main.formLogin .boton:hover {
  background-color: #2f307a;
  zoom: 100%;
}

main.formLogin .burbuja:hover {
  background-color: #f5f5f5;
  zoom: 100%;
}

.seccion-boton {
  text-align: center;
  align-items: center;
}

.boton {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: #000000;
  color: #fff;
  width: 45vw;
  flex-wrap: flex;
  max-width: 120px;
}

.registrarme {
  font-size: 12px;
}

.forgotPassword {
  font-size: 13px;
  }

.iconoUsuario {
  font-size: 50px;
}

@media (min-width: 768px) {
  .titulo {
    font-size: 35px;
  }
  .iconoUsuario {
    font-size: 60px;
  }
  main.formLogin .burbuja {
    padding: 10px;
    width: 75vw;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    border: solid 0.5px white;
    background-color: white;
    max-width: 850px;
  }
  main.formLogin main.formLogin .rememberUser {

    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 35px;
    margin-top: 20px;
    font-weight: bold;
  }
  

  main.formLogin h3 {
    font-size: 15px;
  }
  main.formLogin .formulario div {
    margin: 40px;
  }

  main.formLogin .boton {
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    width: 45vw;
    flex-wrap: flex;
    max-width: 180px;
  }
  main.formLogin a {
    font-size: 17px;
  }
}

@media (min-width: 960px) {
  main.formLogin .titulo {
    font-size: 45px;
  }
  main.formLogin .iconoUsuario {
    font-size: 80px;
  }
  main.formLogin .burbuja {
    padding: 10px;
    width: 75vw;
    height: 60px;
    border-radius: 5px;
    font-size: 20px;
    border: solid 0.5px white;
    background-color: white;
    max-width: 850px;
  }

  main.formLogin h3 {
    font-size: 20px;
  }
  main.formLogin .formulario div {
    margin: 50px;
  }

  main.formLogin .boton {
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    width: 45vw;
    flex-wrap: flex;
    max-width: 210px;
  }
  main.formLogin a {
    font-size: 20px;
  }
}



main.formLogin .profile {
  margin-top: 50px;
  margin-bottom: -100px;
  border-bottom: 1px solid white;
}
main.formLogin.profile img {
  border-radius: 50%;
  background-color: white;
  width: 120px;
  height: 120px;
}

