* { margin: 0px ;
  padding : 0px;
  box-sizing: border-box;
 
  }
  
  body {  font-family: 'Roboto', sans-serif;
    background-color: #dadada; ;

  }
  
  
.titulo {font-size: 25px;}
  main  { 
    text-align: center;
    padding-top: 30px;
  }

  main section article {
  
    background-color: #dadada;
    padding:  15px;
    margin: auto; 
    
  }
  
  main section article div {
    border-top: solid 0.5px rgb(185, 181, 181);
    margin-top: 10px;
  padding: 10px;}
  

  section.header-formulario{ background-color: #dadada;
   

    width: 100vw;
  padding-top: 10px;
  font-size: 10px;
  margin: auto;

} 
  


   section.formulario{ background-color: #dadada;
   
    width: 100vw;
    padding: 0px 10px 0px 10px;
  font-size: 10px;
  margin: auto;

} 
  
  
  
  .formulario div {
    margin: 35px;
  
    } 
  

    .burbuja{
    
      width: 75vw;
      height: 40px;
      border-radius: 4px;
      font-size: 15px;
      border: solid 1px
      ; background-color: white;
max-width: 800px;
      
    }
.boton:hover{  background-color: #2f307a
  ; zoom: 100%;
}
   
    .burbuja:hover{

      background-color:   #f5f5f5
      ; zoom: 103%;

    }
    .boton {
    
      font-size: 20px;
      border-radius: 8px;
      padding:  5px;
      margin: 10px;
      background-color: #000000;
      color: #fff;
      width: 45vw;
      flex-wrap: flex ;
      max-width: 280px;}
      

    .iconoRegistro {font-size: 35px;}


@media (min-width:768px) {

 

.titulo{font-size: 35px;}  .iconoRegistro {font-size: 50px;}   .burbuja{
    padding: 10px;
  width: 75vw;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  border: solid 1px
  ; background-color: white;
max-width: 850px;}
  
h3 {font-size: 15px;}
  .formulario div {
    margin: 40px;
  
    } 

    .boton {
    
      font-size: 25px;
      border-radius: 8px;
      padding:  10px;
      margin: 10px;
      background-color: #000000;
      color: #fff;
      width: 45vw;
      flex-wrap: flex ;
      max-width: 280px;}
      a {font-size: 17px;}
}  





@media (min-width:960px) {

 

  .titulo{font-size: 45px;}  .iconoRegistro {font-size: 60px;}   .burbuja{
      padding: 10px;
    width: 75vw;
    height: 60px;
    border-radius: 4px;
    font-size: 20px;
    border: solid 1px
    ; background-color: white;
  max-width: 850px;}
    
  h3 {font-size: 20px;}
    .formulario div {
      margin: 50px;
    
      } 
  
      .boton {
      
        font-size: 25px;
        border-radius: 8px;
        padding:  10px;
        margin: 10px;
        background-color: #000000;
        color: #fff;
        width: 45vw;
        flex-wrap: flex ;
        max-width: 280px;}
        a {font-size: 20px;}
  }  