* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header{
    background-color: #1b1b1b;
    opacity: 0.9;
    width: 100vw;
    height: 50px;
    display:flex;
    position:fixed;
    top:0
}
body{
    background-color: #dadada;
}
header .header-bar{
    display: flex;
    width: 100vw;
    height: 56px;
    padding:8px 16px;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#burger-checkbox {
    display: none;
}

header label {
    position: relative;
    width: 30px;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in;
    background-color:transparent;
}

header label:hover {
    background-color: transparent;
}

header label span {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 20px;
    height: 2px;
    background-color: #d6d6d6;
    transition: all .3s linear;
    opacity: 1;
    
}

header label span:first-child {
    transform: translate(-50%) rotate(0deg);
}

header label span:last-child {
    transform: translate(-50%, 7px) rotate(0deg);
}

#burger-checkbox:checked ~ label span:first-child {
    transform: translate(-13px) rotate(45deg);
}



#burger-checkbox:checked ~ label span:last-child {
    transform: translate(-13px) rotate(-45deg);
}

.menu-wrapper {
    background-color:black;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    transition: all .5s ease-in-out;
    
}

#burger-checkbox:checked ~ .menu-wrapper {
    left: 0;
}



nav a {
    display: block;
    padding: 1rem 0;
    color: white;
    font-family: 'Roboto';
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.cuerpo {

  margin-top: 50px;
}


header .bar-img{
    width: 48px;
    height:48px;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    text-align: center;
    background-color:transparent;
}
header .bar-img img{
    padding: 4px 0px 0px 0px;
    background-color:transparent;

}

header .bar-bag-icon{
    width: 48px;
    height:48px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    right: 0;
    background-color: transparent;
}
header .bar-bag-icon span{
    color:#d6d6d6;
    padding: 6px 0px 0px 0px;
    position: relative;
    background-color: transparent;

}

body{
    height: 900px;
}

.slider{
    padding-top: 50px;
    width: 100%;
    height: 100%px;
    overflow: hidden;
}
.slider ul{
    display:flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    
}
    ----------------------------
  

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 15px;
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header {
  background-color: #616262;
}

header div.logo,
header .form {
  width: 50%;
}

header div.logo {
  padding: 10px;
}
.products {
  overflow: hidden;
  background: #fffefe;
}
.main-article {
  float: left;
  margin-left: 5px;
  text-align: center;
  width: 33%;
  padding: 100px;
}
.main-article2 {
  float: left;
  margin-left: 5px;
  text-align: center;
  width: 33%;

  padding: 100px;
}
.main-article3 {
  float: left;
  margin-left: 5px;
  text-align: center;
  width: 33%;

  padding: 100px;
}
.modelo {
  font-weight: bold;
  font-size: 20px;
}
.Procesador {
  text-decoration: underline;
  color: #000000;
  font-size: 20px;
}

.price {
  font-size: 18px;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: rgb(15, 15, 15);
}
.description {
  display: none;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}
main section article img {
  width: 100%;
}

footer {
  text-align: center;
  color: #000000;
  padding: 25px;
}

/*dispositivos desde 316px*/
@media (min-width: 361px) {
  .description {
    display: block;
  }
  article {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  header nav {
    display: inline-block;
  }
  .main-article {
    display: block;
  }
}


 footer div { margin: 10px;


}

@keyframes cambio{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
  

}