<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>

<body>
    

<%- include("./partials/header") %>


<main class="formLogin">


    <form action="/users/login" method="POST">

    <section class="header-formulario">
<div>
    <br>
    <br>
    <br>
    
    <div class="titulo">Hola <%= user.nombre %> !</div> <label for="Nombre Usuari@"></label> </div>
    <img src="/images/usersProfileImage/<%= user.userProfileImage %>"
    
    <div class="iconoUsuario"><i class="fas fa-user-circle"></i></div>
</section>

 
        <section class="formularioLogin">
            
                  
            </form>
            </section>


       

  

</div>
</body>
</html>
