<header>
    <div class="header-bar">

        <input type="checkbox" id="burger-checkbox" class="oculto">
        <label for="burger-checkbox">
            <span></span>
            <span></span>

        </label>
        <div class="menu-wrapper">
            <nav>

        
                <div class="profile">
                    
                    <a href="#">
                        <img src="/images/Blank-profile.png"
                    </a>        <% if (locals.isLogged){ %> 
                        <p> <%=locals.userLogged.nombre%> <%=locals.userLogged.nombre%></p>
                </div>  
            <ul>
               
                <li><a href="/users/userProfile">Perfil de Usuario</a></li>
                
                <li><a href="/users/logout">Salir</a></li>     <% } else  {%> 
                  <li><a href="/users/login">Login</a></li>
                <li><a href="/users/registro">Registrarse</a></li>
                <% } %>
                <li><a href="#">Privacidad</a></li>
            </ul>
            </nav>
        </div>

        <div class="nav-768">
            <div class="bar-img">
                <a href="/">  <img src="/images/nav-icon.png" ></a></img>
                
            </div>
        </div>

        <div class="bar-bag-icon">
            <a href="products/cart"> 
            <span class="material-icons-outlined">
                shopping_bag
            </a></span>
        </div>

        
    </div>

    <!--Navbar x768-->
        <div class="navbar-768" >

            <a href="/">  <img src="/images/nav-icon.png"></a></img>
            <div class="logotext">   
              LlamaQueLlama  
            </div>
            <span></span>
            <div class="nav">
                <a href="http://localhost:3004/products/Samsung">
                    Samsung
                </a>
                <a href="http://localhost:3004/products/Apple">
                    Apple
                </a>
                <a href="http://localhost:3004/products/LG">
                    LG
                </a>
                <a href="http://localhost:3004/products/Motorola">
                    Motorola
                </a>
                <a href="http://localhost:3004/products/Xiaomi">
                    Xiaomi
                </a>
                <a href="http://localhost:3004/products/Huawei">
                    Huawei
                </a>

            </div>
            <div class="navprofile">

               
                <span class="material-icons-outlined">
                    search
                    </span>
                <span class="material-icons-outlined">
                    shopping_bag
                    </span>
                    <a href="http://localhost:3004/users/userProfile"> <div class="user-img">
                        
                    </div></a>
                    <% if (locals.isLogged){ %>
                        <span class="material-icons-outlined"><a href="http://localhost:3004/users/logout" style="text-decoration:none;color:#d6d6d6;">
                            logout 
                            </span></a>
                        
                            <%  } %> 
                    

                </div>
            </div>

        </div>
    
    

</header>